.DiaryList .menu_bar {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}
.DiaryList .menu_bar button{
    flex: 1;
}
.DiaryList .menu_bar select{
    background-color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}